:root {
    --color-gray: #787c7e;
    --color-light-gray: #d3d6da;
    --color-white: #f1f2f3;
    --color-yellow: #c9b458;
    --color-green: #6aaa64;

    --ff-main: 'Inter', sans-serif;
}

body {
    font-family: var(--ff-main);
}

.wrapper {
    max-width: 1480px;
    margin: 0 auto;
    width: 90%;
}

.wordle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
    text-align: center;
    color: var(--color-gray);
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.letter {
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-light-gray);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.row {
    display: flex;
    gap: 0.5rem;
}

/* tile check */
.correct {
    background-color: var(--color-green);
    color: var(--color-white);
}

.close {
    background-color: var(--color-yellow);
    color: var(--color-white);
}

.incorrect {
    background-color: var(--color-gray);
    color: var(--color-white);
}

.enter {
    border: 2px solid var(--color-gray);
    padding: 0.2rem;
    text-transform: uppercase;
}
